<!DOCTYPE html>
<html>
<head>
	
	<title>Results</title>
	
</head>
<body>
	<div id ="wrapper">
		<div id = "times">
		</div>
		<div id = "result">
			
				<h2 id = title> All the elks</h2> 
				

				<% for(x in elks) { %>
				<h3>Name: <a href = "/elk/<%=elks[x]._id%>"><%=elks[x].name%></a> <a href ="/elk/edit/<%=elks[x]._id%>">Edit</a>
					</h3> 	
				
				<h3>Favorite Food: <%=elks[x].favorite_food%></h3>  
				<h3>Hobby: <%=elks[x].hobby%></h3>
				<form action= "/elk/destroy/<%=elks[x]._id%>" method ="post"> 
						<input type ="submit" id = "button" value = "Delete this elk!">
				      </form>
				<% }%>
				
				<h2><a href= "/elk/new">Add a new elk</a></h2>

		
		</div>
	</div>		
</body>
</html>